if ! has nix_direnv_version || ! nix_direnv_version 2.32.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.32.1/direnvrc" "sha256-1VWM1BnI1GvclYBky5f5Y9HqeThmQUwCWQbsFQM1Eu0="
fi

export DIRENV_WARN_TIMEOUT=5m

use flake
